<%- include('./partials/header.ejs') %>

<div class="author">
    <h1 class="author__heading">Hey there, I am Yasas Lekamge</h1>
    <p class="author__body">Full-stack Web Developer</p>
</div>

<%- include('./partials/footer.ejs') %>