@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --blue: #0000b3;
    --custom: #7a96b9;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.2rem, 0.61vw + 1.1rem, 1.5rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2rem, 2vw + 1rem, 3rem);
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--custom);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url("../images/img1.png");
    margin: 0;
}

p { color: var(--custom); font-weight: bold; }
h1 { font-size: var(--font-size-xl); color: var(--custom); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

.author{
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myForm {
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: #FAF5EE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6ab46c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.holidays {
    margin-top: 20px;
    width: 27%; 
    padding: 10px;
    background-color: #bed1e7; 
    border-radius: var(--border-radius);
}

.textbox {
    width: 75%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}