@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --blue: #0000b3;
    --custom: #7a96b9;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.2rem, 0.61vw + 1.1rem, 1.5rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2rem, 2vw + 1rem, 3rem);
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--custom);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url("../images/img1.png");
    margin: 0;
}

p { color: var(--custom); font-weight: bold; }
h1 { font-size: var(--font-size-xl); color: var(--custom); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

.author{
    text-align: center;
}